<%= react_component 'Header' %>
<div class="container">
  <div id="content">
    <%if current_user.present?%>
      <%= react_component 'Body' %>
    <%else%>
        <%= react_component 'Main' %>
    <%end%>
    <%= react_router 'MyRoutes' %>
  </div>
</div>