<!DOCTYPE html>
<html>
  <head>
    <title>ReactRailsTutorial</title>
    <meta content="This is demo for React JS with Ruby On Rails." name="description">
    <meta charset="UTF-8">
    <meta name="keywords" content="React,RubyOnRails,rubyonrails,react,ruby,rails+react,react+rails,hardik,upadhyay,hardik upadhyay">
    <meta name="author" content="Hardik Upadhyay">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
